<a href="https://colab.research.google.com/github/Traffic-anomaly-detection/traffic-anomaly-detection/blob/master/Merge_Traffic_Road_In.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import glob
# get data file names

month = '12'
road = '12'

path = r'/content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-' + month +'/Road ' + road + ' In'
filenames = sorted(glob.glob(path + '/*.csv'))

dfs=[]

'''for filename in range(10): 
    dfs.append(pd.read_csv(filenames[filename],names=header_list))'''

for filename in range(len(filenames)):
  print('loading ',filenames[filename])
  dfs.append(pd.read_csv(filenames[filename]))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

print('-----------completed---------------')

loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_01-04.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_05-08.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_09-12.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_13-16.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_17-20.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_21-24.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_25-28.csv
loading  /content/drive/MyDrive/ Project/PROJECT/Traffic In/2020-12/Road 12 In/road12_12_29-31.csv
-----------completed---------------

In [ ]:
big_frame

                    datetime  road_number  ...  avg_traveltime max_traveltime
0        2020-12-01 00:00:30           12  ...              60             60
1        2020-12-01 00:00:30           12  ...               0              0
2        2020-12-01 00:00:30           12  ...               0              0
3        2020-12-01 00:00:30           12  ...             129            129
4        2020-12-01 00:00:30           12  ...               0              0
...                      ...          ...  ...             ...            ...
6697083  2020-12-31 23:59:33           12  ...               0              0
6697084  2020-12-31 23:59:33           12  ...              58             58
6697085  2020-12-31 23:59:33           12  ...               0              0
6697086  2020-12-31 23:59:33           12  ...              60             61
6697087  2020-12-31 23:59:33           12  ...               0              0

[6697088 rows x 12 columns]

In [ ]:
big_frame.to_csv('/content/drive/MyDrive/ Project/PROJECT/2020-' + month +'/2020-'+month+'-road-'+road+'-in.csv',index=False)
print('Save to / Project/PROJECT/2020-' + month +'/2020-'+month+'-road-'+road+'-in.csv')

Save to / Project/PROJECT/2020-12/2020-12-road-12-in.csv